<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=725&q=80);">
  <h1>Welcome to Moovies!</h1>
  <p>Your movie's lists</p>
</div>

<div class="cards mt-4 mb-3">
  <% @lists.each do |list| %>
    <%= link_to list_path(list.id), class:"card-link" do %>
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80)">
        <p class="name-bg"><%= list.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
