.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 350px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.card-link {
  text-decoration: none;
}

.name-bg {
  font-size: 20px;
  color: aliceblue;
  background-color: $purple;
  padding: 5px 15px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-movie {
    h5 {
      font-weight: bold;
    }
}

.card-bottom-details {
  margin-bottom: -15px;
  justify-content: space-between;
}

.list-movies-card {
  justify-content: space-evenly;
  margin: 15px 0 15px 0;
}

.overview {
  margin-bottom: 50px;
}
